# Python
.venv/
venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Environment files
.env

# VS Code
.vscode/settings.json

data-analytics-python/data-analytics-python/Pandas_Cheat_Sheet.pdf